<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h2 class="mb-4 text-center">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , 
            class: 'form-control rounded-pill',
            placeholder: 'Email',
            required: true %>
      </div>

      <div class="form-row  mb-4">
        <div class="col ">
          <%= f.password_field :password, autocomplete: "new-password",
              class:'form-control rounded-pill', 
              placeholder: 'Password', 
              required: true, minlength: 6 %>
        </div>
        <div class="col ">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
      class:'form-control rounded-pill', 
              placeholder: 'Repeat Password', 
              required: true, minlength: 6%>
        </div>
      </div>
      <div class="form-check ml-1 mb-4">
        <%= check_box_tag :remember_me, 1, params[:remember_me], class: 'form-check-input'%>
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class:'btn btn-primary form-control rounded-pill btn-block' %>
      </div>
      <% end %>

      <div class='text-center mx-auto mt-2'>
        <span>Or</span>
        <br>
        <div class='form-row mb4-2'>
          <div class="col">
            <a href='#!' class='btn btn-google rounded-pill btn-block'>
              Google
            </a>
          </div>
          <div class='col'>
            <a href='#!' class='btn btn-facebook rounded-pill btn-block'>
              Facebook
            </a>
          </div>

        </div>
      </div>


      <div class='text-center mx-auto mt-4'>
        <small>
          <span>Have already an account?</span>
          <%= render "devise/shared/links" %>
        </small>
      </div>

    </div>
  </div>
</div>