<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Account Settings" %>
</head>

<body>

<% if !current_user.nil? %>
  <!-- MAIN BODY -->
  <%= render 'sidebar'  %>
  <section class="account-settings-section">
  <div class="container-fluid">
    <!-- Content -->
    <div class="contact-info">
      <div class="row wrapper">
        <div class="col-lg-8 col-md-10  offset-lg-2 col-12 ">
          <div class="col">
            <div class="account_created_at ml-auto" style="float:right;">
            Account since <%= get_time_verbose(current_user.created_at) unless current_user.nil? %>
          </div>
          <div class="col">
              <h1>Account Information</h1>
          </div>
          <hr>

          <div class="account-email mb-5">
            <h3 class="mb-3">Account email address</h3>
            <span class="text-success"><%= current_user.email %></span>
            <div>
              <a href="<%= accountsettings_secret_path %>"
              class="btn btn-light border-info mt-2">Change</a>
            </div>
          </div>

          <!-- Start form -->
          <%= form_for @user, :as => :user,  :url => accountsettings_info_path do |f| %>
            <!-- Account photo -->
            <div class="account-photo mb-5">
              <h3>Profile Photo</h3>
              <section class="drag-drop-phot">
                <%# <form action="" method="POST" enctype="multipart/form-data"> %>
                  <div class="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label">Upload File</label>
                          <div class="preview-zone hidden">
                            <div class="box box-solid">
                              <div class="box-header with-border">
                                <div><b>Preview</b></div>
                                <div class="box-tools pull-right">
                                  <button type="button" class="btn btn-danger btn-xs remove-preview">
                                    <i class="fa fa-times"></i> Reset This Form
                                  </button>
                                </div>
                              </div>
                              <div class="box-body"></div>
                            </div>
                          </div>
                          <div class="dropzone-wrapper">
                            <div class="dropzone-desc">
                              <i class="glyphicon glyphicon-download-alt"></i>
                              <p>Choose an image file or drag it here.</p>
                            </div>
                            <input type="file" name="img_logo" class="dropzone" 
                                    
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <button type="button" 
                        class="btn btn-primary pull-right">Upload</button>
                      </div>
                    </div>
                  </div>
                <%# </form> %>
              </section>
            </div>
            <!-- End Account photo -->

            <!-- Start account info -->
            <div class="contact-info mb-5">
              <div class="row">
                <div class="col-lg-10">
                  <h3>Contact Information</h3>

                  <div class="form-group mb-3 ml-0">
                    <%= f.label "Prefix" %>
                    <div class="">
                        <%= f.select :sex , options_for_select(["Mr.","Ms","Mrs.","Other"]), {}, :class => 'form-control text-success' %>
                    </div>
                  </div>

                  <div class="form-row mb-3 ml-0">
                    <div class="col">
                      <%= f.label :first_name %>
                      <%= f.text_field :first_name, class: "form-control text-success" %>
                    </div>
                    <div class="col">
                      <%= f.label :last_name %>
                      <%= f.text_field :last_name, class: "form-control text-success" %>
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <%= f.label :phone %>
                    <%= f.text_field :phone, class: "form-control text-success" %>
                  </div>

                  <div class="form-row mb-3 ml-0">
                    <div class="col">
                      <%= f.label :job %>
                      <%= f.text_field :job, class: "form-control text-success" %>
                    </div>
                    <div class="col">
                      <%= f.label :company %>
                      <%= f.text_field :company, class: "form-control text-success" %>
                    </div>
                  </div>


                  <div class="form-group mb-3">
                    <%= f.label :website %>
                    <%= f.text_field :website, class: "form-control text-success"%>
                  </div>

                  <div class="form-group mb-3">
                    <%= f.label :description %>
                    <%= f.text_area :description, 
                        class: 'form-control text-success', 
                        rows: '10', placeholder: 'Description'
                         %>
                  </div>

                </div>
              </div>
            </div>
            <!-- End account info -->

            <!-- Start address -->
            <div class="account-address">
              <div class="row">
                  <div class="col-lg-10">
                      <h3 cl>Address</h3>
                      <div class="form-group mb-3">
                        <%= f.label :address %>
                        <%= f.text_field :address, class: "form-control text-success" %>
                      </div>
                      <div class="form-group mb-3">
                        <label for="">City</label>
                        <input type="text" class= "form-control text-success">
                      </div>
                      <div class="form-group mb-3 ml-0">
                        <label for="">Country</label>
                        <input type="text" class="form-control text-success">
                      </div>
                      <div class="form-row mb-4 ml-0">
                        <div class="col">
                          <label for="">Zip/Postal Code</label>
                          <input type="text" class="form-control text-success">
                        </div>
                        <div class="col">
                          <label for="">State</label>
                        </div>
                      </div>
                  </div>
              </div>
              

            </div>
            <!-- End address -->
             <%= f.submit "Save", class: 'btn btn-danger' %>
          <% end %>
          <!-- End form -->
        </div>
      </div>
    </div>
    </div>
    <!-- end content -->
  </section>

<!-- If user not logged -->

  <% else %>
  <div class="container text-center">
      <h3>You need to loggin to see your account settings.</h2>
      Back to <a href="<%= new_user_session_path %>">Login</a>
  </div>
  <% end %>
</body>

</html>