<div class="container">
  <div class='row'>
      <div class='col-lg-8 col-md-10 mx-auto'>
           <h2 class="mb-4 text-center">Change your password</h2>

           <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>

             <div class="form-row mb-4">
                <div class="col ">
                  <%= f.password_field :password, autocomplete: "new-password",
                      class:'form-control rounded-pill', 
                      placeholder: 'New Password', 
                      required: true, minlength: 6 %>
                </div>
                <div class="col mb-4">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",
                      class:'form-control rounded-pill', 
                      placeholder: 'Repeat Password', 
                      required: true, minlength: 6 %>
                </div>
            </div>

              <div class="actions">
                <%= f.submit "Change my password" , class:"btn btn-primary rounded-pill btn-block"%>
              </div>
          <% end %>

          <%= render "devise/shared/links" %>


      </div>
  </div>
</div>
