<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Event" %>
</head>
<body>
  <!-- MAIN BODY -->
  <section>
     <div class="container">
        <div class='row'>
            <div class='col-lg-12 mx-auto mt-4'>
              <h2 class="mb-4 text-left">Title:<%=  @event.title %></h2>
              <p>Date:<%= get_time_verbose(@event.start_date) %></p>
              <p>Category:<%=  @event.category.title %></p>
              <p>Duration: <%= @event.duration %></p>
              <p>Price: <%= @event.price %></p>
              <strong>Organizer: <%= @event.organizer.full_name %></p></strong><p>
              <p>Location: <%= @event.location %></p>
              <p class="mb-3">Description: <%= @event.description %></p>

              <div>
                  <h5>List of attendees: </h5>
                  <% if @attendees.count < 1%>
                    <span class="text-muted">This event has not attendees yet</span>
                  <% else %>
                    <ul>
                      <% @attendees.each do |attendee|%>
                        <li> <%= attendee.full_name %></li>
                      <% end %>
                    </ul>
                  <% end%>
                 
              </div>

            </div>
        </div>
    </div>
  </section>
</body>

</html>