<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %> | EventLove</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="icon" href="<%= asset_path('favicon.ico')%>">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <!-- Start navbar -->
    <nav class="navbar navbar-expand-lg navbar-light nav-bg-light fixed-top py-2" id="main-nav">
        <div class="container-fluid">
        <% if url_contains_account_settings? %>
          <div class="sidebar-top">
            <a class="mr-4 ml-0" style="text-decoration:none;">
              <i class="fas fa-bars fa-2x " onclick="collapseSidebar()"></i>
            </a>
          </div>
        <% end %>
          <a class="navbar-brand mr-3" href="<%= root_path %>">
            <img src="<%= asset_path('logo.png')%>" width="200" height="40" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <!-- Search form -->
              <form class="form-inline">
                <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
              </form>

            </ul>
            <ul class="navbar-nav ml-auto py-2">
              <li class="nav-item py-2 <%= active_class(root_path) %>">
                <a href="<%= events_path %>" class="nav-link">Browse Events</a>
              </li>
              <% if !user_signed_in? %>
                <!-- User not logged in -->

                <li class="nav-item py-2 <%= active_class(root_path) %>">
                  <a href="<%= static_pages_help_path %>" class="nav-link">Help</a>
                </li>

                <li class="nav-item py-2 <%= active_class(root_path) %>">
                  <a href="<%= new_user_session_path %>" class="nav-link"><i class="fas fa-sign-in-alt"></i> Log in</a>
                </li>
                <li class="nav-item py-2 <%= active_class(root_path) %>">
                  <a href="<%= new_user_registration_path %>" class="nav-link"><i class="fas fa-user-plus"></i> Sign up</a>
                </li>
              <% else %>
                <!-- User logged in -->
                <li class="nav-item py-2 <%= active_class(root_path) %>">
                <a href="<%= new_event_path %>" class="nav-link"><i class="fas fa-plus"></i> Create Events</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                      role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="<%= current_user.avatar || "https://source.unsplash.com/random?avatar"%>"
                        width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-user p-0" 
                          aria-labelledby="navbarDropdownMenuLink">
                        <div class="d-flex flex-row py-2 mt-0" style="background-color: #f1f1f1">
                            <div><i class="fas fa-user mx-3 py-3"></i></div>
                            <a href="<%= accountsettings_info_path %>" class ="p-0 nav-link" >
                          <span><strong><%= current_user.full_name %></strong></span><br>
                          <span class="text-muted"><%= current_user.email %></span>
                      </a>
                        </div>
                      
                      <a class="dropdown-item" href="#">Collections</a>
                      <a class="dropdown-item" href="#">Manage Events</a>
                      <a class="dropdown-item" href="#">Organizer Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="<%= new_event_path %>">Create Event</a>
                      <a class="dropdown-item" href="<%= accountsettings_info_path %>">Account Settings</a>
                      <a class="dropdown-item" 
                        href="<%= destroy_user_session_path %>" data-method="DELETE"
                      >Log Out</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="<%= static_pages_help_path %>">Help</a>
                    </div>
                </li>
              <% end %>


          </div>
        </div>
      </nav>
  <!-- End navbar -->


  <!-- Main content of body -->
  <div class="" style="margin-top:100px; margin-bottom:60px; ">

    <section id="alert-section">
      <% flash.each do |key, value| %>
      <div class="alert-dismissible text-center p-2 container <%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value unless value.blank? %>
      </div>
      <% end %>
    </section>

    <%= yield %>
  </div>

  <hr class="my-5">
  <!-- FOOTER -->
  <footer id="main-footer" class="py-3 bg-light bg-dark text-white">
    <div class="container-fluid">
      <div class='d-flex justify-content-between'>
          <div class=" mx-3 mt-2">
            <span>Copyright &copy;
              <span id="year"></span> EventLove</span>
          </div>
          <div class="navbar-nav d-flex">
              <div class='row'>
  
                          <div class="mr-3"><a class="nav-link" href="#">How It Works</a></div>
                          <div class="mr-3"><a class="nav-link" href="#">Pricing</a></div>
                          <div class="mr-3"><a class="nav-link" href="#">Contact Support</a></div>

        
                          <div class="mr-3"><a class="nav-link" href="#">About</a></div>
                          <div class="mr-3"><a class="nav-link" href="#">Blog</a></div>
                          <div class="mr-3"><a class="nav-link" href="#">Help</a></div>

     
                          <div class="mr-3"><a class="nav-link" href="#">Security</a></div>
                          <div class="mr-3"><a class="nav-link" href="#">Developers</a></div>
                          <div class="mr-3"><a class="nav-link" href="#">Term Privacy</a></div>
            
              </div>
          
          </div>
      </div>
    </div>
  </footer>

<!-- Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  
  <script>
  $(document).ready(function(){
    $('#year').text(new Date().getFullYear());
    $(".alert").fadeOut(6000);
  });
  </script>

</body>

</html>